<app-loader *ngIf="loading"></app-loader>

<div class="content" *ngIf="!error; else errorText">
  <div *ngIf="!loading" class="title">🌞 smile there 🌞</div>
  <video
    [class.show]="!isCaptured"
    [class.hide]="isCaptured"
    [class.video-border]="!loading"
    #video
    id="video"
    [width]="width"
    [height]="height"
    autoplay
  ></video>
  <canvas
    [class.show]="isCaptured"
    [class.hide]="!isCaptured"
    [class.video-border]="!loading"
    #canvas
    id="canvas"
    [width]="width"
    [height]="height"
  ></canvas>

  <ng-container *ngIf="!loading">
    <button class="button" *ngIf="!isCaptured" (click)="capture()">
      Take Photo
    </button>

    <div class="btns-container" *ngIf="isCaptured">
      <button class="button" (click)="removeCurrent()">Take Another</button>
      <button class="button" (click)="download()">Download</button>
    </div>
  </ng-container>

  <div class="images-container">
    <div
      class="image-container"
      *ngFor="let src of imageCaptures; let i = index"
    >
      <img
        [src]="src"
        class="image"
        [class.selected]="i === selected && isCaptured"
        (click)="setPhoto(i)"
        height="100"
      />
      <span
        [class]="
          i === selected && isCaptured
            ? 'image-number-selected'
            : 'image-number'
        "
        >{{ i + 1 }}</span
      >
    </div>
  </div>
</div>

<ng-template #errorText>
  <div class="error">{{ error }}</div>
</ng-template>
